if users
    table.table-container
        thead
            tr
                th='UserID'
                th='Name'
                th='Age'
                th='Email'
        tbody
        each user in users
            tr
                td=user.userID
                td=user.name
                td=user.age
                td=user.email
                td
                    .button-container-interior
                        a.button(href='/edit-user/' + user._id) edit
                        a.button(href='/delete/' + user._id) delete

else
    p="There are no users to display"